
<h1>index Articles!</h1>
<p>Articles#index. Find me in app/views/articles/index.html.erb</p>
<h3>Listing Articles </h3>
<%= link_to 'New Article Link', new_article_path %>


<table>
<tr>
<th>Title </th>
<th>Text Content </th>
</tr>
<% @articles.each do |one| %>
	<tr>
	<td><strong> <%= one.title %></strong></td>
	<td> <%= one.textcontent %></td>
	<td> <%= link_to 'Show it', article_path(one) %> </td>
	</tr>
	<%end %>
</table>
<%= link_to 'Back to welcome2', :controller => :welcome , :action => :index %>




